@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define tus variables CSS aquí */
@layer theme {
  :root {
    --background: 44 36% 95%;
    --foreground: 30 36% 26%;

    --card: 44 36% 95%;
    --card-foreground: 30 36% 26%;

    --popover: 44 36% 95%;
    --popover-foreground: 30 36% 26%;

    --primary: 30 47% 32%;
    --primary-foreground: 44 36% 95%;

    --secondary: 30 26% 56%;
    --secondary-foreground: 44 36% 95%;

    --muted: 30 26% 90%;
    --muted-foreground: 30 10% 40%;

    --accent: 30 26% 90%;
    --accent-foreground: 30 36% 26%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 30 26% 56%;
    --input: 30 26% 56%;
    --ring: 30 47% 32%;

    --radius: 0.5rem;

    --animation-delay-2000: 2000ms;
  }
}

@layer utilities {
  * {
    border-color: var(--border);
  }
  
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-size: 0.95rem;
  }

  .animation-delay-2000 {
    animation-delay: var(--animation-delay-2000);
  }

  .animate-slow-pulse {
    animation: pulse 8s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      opacity: 0.3;
    }
    50% {
      opacity: 0.6;
    }
  }

  /* Oculta la barra de desplazamiento pero mantiene la funcionalidad */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
}

